/* 공통 음료 목록 */
.ediya-menu{
  padding:20px;
  display: flex;
  flex-flow: row wrap;
}

/* 공통 음료 아이템 */
.ediya-menu__item{
  background-color:var(--theme-bright2);
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
}
.ediya-menu__item:first-child{
  margin-top: 0;
}
.ediya-menu__item [role="button"]{
  display: block;
}

.ediya-menu__item figure{
  margin:0;
  padding:20px 0 40px;
  text-align: center;
}

.ediya-menu__item img{
  /* width값과 height 값 대신에 transform의 scale속성 이용하기 */
  transform: scale(0.85);
  transition: all 0.2s;
}

.ediya-menu__item [role="button"]:hover img{
  transform: scale(1);
}



@media all and (min-width: 768px){
  /* 데스크탑 음료 목록 */
  .ediya-menu{
  width: 740px;
  padding-left:0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

/* 데스크탑 음료 아이템 */
.ediya-menu__item{
  width: 360px;
}
.ediya-menu__item:nth-child(2){
  margin-top:0;
}
}