/* 이디야 뉴스 공통 속성 */
/* .news-notice */
.news-main{
  padding: 15px; 
}

.news-headline{
  font-size: 2rem;
  font-weight: 700;
  /* margin-bottom: 10px; */
  color: var(--theme-primary);
  margin: 0;
}
.news-headline::before{
  content:"";
  width: 8px;
  height: 16px;
  display: inline-block;
  background: url(../images/icon-news-headline.svg) 
  no-repeat 0 0 / 100% 100%;
  /* 아이콘을 상자만큼 넓히고 싶다면 cover, contain을 사용하거나 
  상자 크기의 맞게 백그라운드 사이즈를 조절할 수 있다.  */
  margin-right: .5em;
}
.news-text{
  margin:10px 0;
}

/* 공통 검색 폼 */
/* .news__press-form{
  background-color: lightgreen;
  margin-bottom: 17px;
  color: var(--theme-primary);
} */
.news__press-form fieldset{
  margin:0;
  bottom: 0;
  margin: 0;
}
.press-search-container{
  padding: 5px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}
.news__press-form [name="newSelect"]{
  /* background-color: var(--theme-bright2); */
  margin-right: 15px;
  /* border: 0;
  border-radius: 3px; */
  width: 80px;
  height: 26px;
}
/* .press-search-container select,
.press-search-container .keyword{
  border: 0;
} */

.news__press-form [name="newsKeyword"]{
  /* padding: 6px;  */
  height: 26px;
  flex-grow: 1;
  border:0;
  padding: 2px 20px 2px 0.5em;
  /* background: transparent; */
  border-bottom: 1px solid var(--theme-dark);
}
.news__press-form .button-search{
  background-color: transparent;
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 0;
}

.news__press-form .icon-search{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/icon-search.svg) no-repeat 0 0 
  /100% 100%;
}

/* 공통 테이블 데이타 */
.news__press-table{ 
  margin-top: 20px;
  border-spacing: 0;
  border-collapse:collapse;
  border-top: 2px solid var(--theme-primary);
  border-bottom: 2px solid var(--theme-primary);
  width: 100%;
}
.news__press-table th{
  color: var(--theme-primary);
  font-weight: 700;
  min-width:60;
}
.news__press-table th,
.news__press-table td{
  padding: 8px 15px;
  /* border-bottom: 1px solid currentColor; */
}
.news__press-table th:nth-child(2){
  width: 214/375
}

.news__press-table td:nth-child(2){
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.news__press-table td{
  border-top: 1px solid var(--theme-primary);
  font-size: 1.2rem;
}

.news__press-table .press-thumbnail{
  margin: 0 10Px 0 0;
  width: 60px;
  height: 60px;
}
.news__press-table .press-thumbnail img{
  max-width: 100%;
  height: auto;
}
.news__press-table .press-article{
  margin: 0;
  width: 490px;
}

.news__press-table dt,
.news__press-table dd{
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.news__press-table dt{
  font-size: 1.5rem;
  color: var(--theme-primary);
}
.news__press-table dd{
  font-size: 1.3rem;
  margin-left:0;
  line-height: 1.5;
  margin-top: 15px;
}

/* 공통 페이지네이션 */
.pagination-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px; 
  padding: 10px;
}
/* .pagination-container .button
.pagination-container .button-prev */
.pagination-container .button path,
.pagination-container .button[disabled] svg path{
  fill: #919bc6;
}

.pagination-container .button:hover path,
.pagination-container .button:focus path{
  fill:var(--theme-primary);
}
.pagination{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.pagination li{
  margin: 0 5px; 
}

.pagination a{
  display: block;
  padding: 0 3px; 
  color: #919bc6;
}

.pagination a.on{
  color: var(--theme-primary);
}


@media all and (max-width: 767px){
  /* 모바일 공지사항  */
  /* 모바일 테이블 데이타 */

  .news__press-table .press-thumbnail{
    display: none;
  }
}

/* 데스크탑 공지사항 */
@media all and (min-width: 768px){
  .news-notice{
    width: 740px;
    padding: 15px; 
    margin: 0 auto;
  }

  /* 데스크탑 검색 폼 */
  .news__press-form{
    width: 440px;
    margin-left: auto; 
  }


}