/* 기본 레이아웃 */
body{
  display: flex;
  flex-flow: row wrap;
}
.app-header-container,
.app-main,
.app-footer{
  width: 100%;
}
/* 공통 헤더 */
.app-header{
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
/* 공통 로고 */
.brand{
  width: 176px;
  /* height: 14px; */
  padding: 18px;
  margin:0;
  font-size: 14px;
}
.brand a{
  display: block;
}
/* 추천 음료 공통 */
@keyframes bounce{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(5px);
  }
}
/* 추천 음료 컨테이너 */
.ediya-recommend-container{
  background-color: var(--theme-bright);
}
/* 추천 음료 섹션 */
.ediya-recommend{
  background-color: var(--theme-secondary);
  text-align: center;
  color: var(--theme-default);
  
}
.ediya-recommend-text{
  font-size: 1.4rem;
}
.ediya-recommend-text[lang="en"]{
  font-weight: 100;
  font-size:31px;
}

.ediya-recommend-text[lang="en"]::After{
  content: "";
  width: 40px;
  border-top: 1px solid var(--theme-primary);
  display: inline-block;
}
.ediya-recommend-text em{
  font-style: normal;
  color: var(--theme-primary);
  font-weight: 700;
  font-size: 
}
/* 추천 음료 리스트 */
.ediya-recommend-list{
  position: relative;
}
.ediya-recommend-beverage{
  position: absolute;
}
.ediya-recommend-beverage img {
  max-width: 100%;
  height: auto;
  animation: bounce 0.4s ease-in-out infinite alternate;
}
.ediya-recommend-beverage:last-child img {
  animation-delay: 0.2s;
}
/* 메뉴보기 링크 */
.go-menu{
  position: relative;
  display: inline-block;
  color:var(--theme-primary);
  border: 1px solid var(--theme-primary);
  padding: 8px 24px;
}

/* 유튜브 공통 */
.ediya-youtube-wrapper {
  margin: 0;
}
.iframe-wrapper {
  width: 100%;
  height: 0 !important;
  position: relative;
}
.iframe16-9 {
  padding-top: 56.25%;
}
.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media all and (max-width:767px){
/* 모바일 헤더 */
.app-header{
  border: 1px solid lightgray;
}
/* 햄버거 메뉴 */
.is-open-menu{
  padding: 18px 16px;
  width: 50px;
  height: 50px;
  background: transparent;
  padding: 0;
}
.is-open-menu .ir{
  display: inline-block;
  width: 100%;
  height: 100%;
  background:url(./../images/button-navigation.svg) no-repeat 50% 50%;

}
/* 모바일 내비게이션 */
.app-navigation{
  background: hsla(225, 57%, 10%, 0.9);
  color: #fefefe;
  transform:translateX(105vw);
  width:100vw;
  height: 100vh;
  transition: all 0.2s;
  position: fixed;
  top:0;
  left: 0;
  backdrop-filter: blur(5px);
  padding-top: 66px;
}
.is-close-menu{
  position: absolute;
  top:0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  color:#fefefe;
  font-size: 2rem;
}
.is--active .app-navigation{
  transform: none;
}
.app-navigation li {
  border-bottom: 1px solid hsla(225, 57%, 30%, 0.5);
}
.app-navigation li:last-child{
  border-bottom: 0; 
}
.app-navigation a {
  display: block;
  padding: 12px 22px;
  transition: all 0.4s ease;
}
.app-navigation a:hover,
.app-navigation a:focus {
  background: #2e437c;
  /* 마우스 올리면 이 색으로 0.4초 안에 칠해질 것이다. */
}

/* 모바일 추천음료 */
.ediya-recommend-container{
  padding-bottom: 195px;
}
.ediya-recommend{
  padding: 25px 0 20px;
}
.ediya-recommend-text {
  margin: 15px 0;
}
.ediya-recommend-text[lang='en'] {
  font-size: 2.5rem;
}
.ediya-recommend-text em{
  display: block;
}
.ediya-recommend-beverage:first-child{
  display: none;
}
.ediya-recommend-beverage:last-child{
  top: 15px;
  left: 50%;
  width: 60%;
  transform: translateX(-60%);
}
}
  
/* 데스크탑 헤더 */
@media all and (min-width:768px){
.app-header-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.app-header{
  width: 768px;
}
.is-open-menu,
.is-close-menu{
  display: none;
}
.app-navigation ul{
  display: flex;
  flex-flow: row nowrap;
}
.app-navigation li{
  color:#2e437c;
  margin-left:8px;
}

/* 데스크탑 추천 음료 */
.ediya-recommend-container{
  padding-bottom: 260px;
}
.ediya-recommend {
  padding: 20px 0 30px;
}
.ediya-recommend-text {
  margin: 30px 0;
}
.ediya-recommend-text[lang='en'] {
  font-size: 3.1rem;
}
.ediya-recommend-text[lang='en']::after {
  display: block;
  margin: 30px auto 0;
}
.ediya-recommend-list {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}
.ediya-recommend-beverage:first-child {
  width: 306px;
  top: -135px;
  left: -50px;
}
.ediya-recommend-beverage:last-child {
  width: 457px;
  top: -55px;
  right: -160px;
}
/* 데스크탑 공통 영상 */
.ediya-section-container{
  background-color: var(--theme-disable);
  padding: 62px 0 63px;
  display: flex;
  flex-flow: row nowrap;
}
}